// Roboto Font
@import url(https://fonts.googleapis.com/css?family=Roboto);

::-webkit-scrollbar {
  display: none;
}

$primary-color: lighten(#64C498, 2);
$color-dark: darken($primary-color, 10);
$color-light: lighten($primary-color, 10);
$secondary-color: lighten($primary-color, 0);
$secondary-light: lighten($secondary-color, 0);
$nav-height: 45px;
$app-view-height: calc(100% - #{$nav-height});

form {
  input {
    display: block;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

.clickable {
  cursor: pointer;

  &.disabled {
    cursor: no-drop;
  }
}

// Makes circle buttons
.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: $nav-height;
  width: $nav-height;
  text-decoration: none;
  z-index: 1000;
  cursor: pointer;
}

.hide {
  display: none;
}

.spin {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

#app-container {
  position: fixed;
  left: 0;
  top: 0;
  height: $app-view-height;
  width: 100vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#nav-container {
  position: fixed;
  background-color: $primary-color;
  height: $nav-height;
  top: $app-view-height;
  left: 0;
  width: 100vw;

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc((100vw - 3px) / 4 );
    height: $nav-height;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid $color-light;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;

    &:last-child {
      border: 0px;
    }

    &.active {
      background-color: $color-dark;
    }

    &:hover {
      background-color: $color-light;
    }

  }
}

.share-card {
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.75);

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: $nav-height;
    width: $nav-height;
    color: #fff;
    text-decoration: none;
    margin: 4px;

    &.sms {
      background-color: #6fe490;

      &:hover {
        background-color: lighten(#6fe490, 10);
      }
    }

    &.email {
      background-color: #6699FF;

      &:hover {
        background-color: lighten(#6699FF, 10);
      }
    }

    &.googleplus {
      background-color: #dd4b39;

      &:hover {
        background-color: lighten(#dd4b39, 10);
      }
    }

    &.facebook {
      background-color: #3b5998;

      &:hover {
        background-color: lighten(#3b5998, 10);
      }
    }

    &.twitter {
      background-color: #00aced;

      &:hover {
        background-color: lighten(#00aced, 10);
      }
    }

  }
}

#map, .map-view-container {
  height: 100%;
  width: 100vw;
}

// #map {
//   -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
//           filter: grayscale(100%);
// }

.welcome-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  h1, h2, p {
    width: 100%;
    text-align: center;
  }

  h1{
    font-size: 6em;
  }
}

// ******************** MapView Button Stuff *************************** //
.create-button-container, .collapse-button-container, .refresh-button-container,
.center-button-container, .reset-button-container, .share-button-container,
.filter-search {
  -webkit-transition: all 1s;
          transition: all 1s;

  position: fixed;
  z-index: 900;
  top: calc(#{$nav-height} * 0.5);

  a {
    // this color will obviously be changed
    color: #fff;
    background-color: $secondary-color;
    box-shadow: 0px 0px 5px #888888;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;

    &:hover {
      background-color: $secondary-light;
    }
  }
}

.create-button-container, .share-button-container {
  left: calc(100vw - (#{$nav-height} * 1.5));
}

.collapse-button-container,
.refresh-button-container,
.center-button-container {
  left: calc(#{$nav-height} * 0.5);
}

.refresh-button-container,
.center-button-container {
  opacity: 0;
  z-index: -1;
}

.refresh-button-container-show {
  z-index: 900;
  opacity: 100;
  top: calc(#{$nav-height} * 1.7);
}

.center-button-container-show {
  z-index: 900;
  opacity: 100;
  top: calc(#{$nav-height} * 2.9);
}

.collapse-button-container {
  z-index: 1000;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.collapse-button-container-show {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.reset-button-container {
  left: calc(100vw - (#{$nav-height} * 1.5));
}

.filter-search {
  top: calc(#{$nav-height} * .45);
  left: calc(100vw / 4);
  opacity: 0;
  z-index: -1;
}

.filter-search-show {
  z-index: 1000;
  opacity: 100;
}

// Everything from here down can likely be removed when Material-UI is implimented
form {
  padding: 20px;

  select {
    padding: 5px;
    margin: 5px;
    font-size: 1.5em;
    width: calc(100% - 5px);
  }

  input {
    padding: 5px;
    margin: 5px;
    font-size: 1.5em;
    width: calc(100% - 20px);
  }

  input[type=submit], input[type=button]{
    margin: 10px;
    background-color: $primary-color;
    border: 0px;
    color: #fff;

    &:hover {
      background-color: $color-light;
    }
  }
}

.time-input {
  margin-left: 5px;
}

.create-map-view-container {
  width: 100vw;
  height: calc(100vh / 2.50);
}

.gps-found {
  cursor: pointer;
}

.refresh-button-container {
  cursor: pointer;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spot-view-container {
  padding: 0 3em;
}

.category-icon-container, .spot-name-container{
  display: flex;
}

.spot-name-container {
  position: relative;
  left: -3em;
}

.category-icon-container {
  align-items: center;
  width: auto;
  justify-content: center;
  width: 2em;
  font-size: 1.5em;
  height: 2.2em;
}

.spot-name {
  font-size: 3em;
}

.share-card-container, .createView-card-container, .chat-card-container{
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.share-card-container {
  opacity: 0;
  z-index: -1;
}

.createView-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  opacity: 100;
  z-index: 900;

  &.hide {
    opacity: 0;
    z-index: -1;
  }
}

.login-card {
  display: block;
  background-color: white;
  max-width: 500px;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

.chat-card {
  display: block;
  position: absolute;
  background-color: white;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  top: 100%;
  width: 100%;
  height: 100%;

}

.chat-card-container {
  opacity: 100;
  z-index: -1;
  width: 100%;
  height: 100%;


  &.show {
    z-index: 500;
    .chat-card {
      top: 0;
    }
  }
}

.chat-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 180px);
}

.chat-form-container {
  height: 150px;
}

.show-share-card {
  z-index: 1;
  opacity: 100;
}

.gm-style a[title='Click to see this area on Google Maps'] {
  display: none!important;
}

.gmnoprint a, .gmnoprint span {
  display: none;
}

.gm-style-cc div{
  background: none !important;
}

// .gmnoprint div {
//   position: absolute;
//   left: calc(100vw - 21.25px);
//   top: calc(100vh - 52.5px);
// }

.toast {
  background-color: rgba(0,0,0,0.2);
  margin: 5px;
  padding: 5px;
  text-align: center;

  &.error {
    color: #f00;
  }
}

.profile-view {
  max-width: 600px;
  margin: auto;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-picture {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: 15px;
  overflow: hidden;
  background-size: cover;

  .change-image-message {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
  }

  &.add {

    &:hover {
      .change-image-message {
        opacity: 100;
      }
    }
  }

}

.no-profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #c2c2c2;
  width: 150px;
  height: 150px;
  margin: 15px;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;

  div {
    text-align: center;
  }

  &.add {
    cursor: pointer;
  }

  &.add:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);

    box-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
  }
}

.profile-name {
  display: inline-block;
}

.follow-button, .save-button {
  display: block;
  background-color: $primary-color;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 5px #888888;

  &:hover {
    background-color: $color-light;
  }
}

.save-button {
  width: 150px;
  float: right;
  margin-right: 10px;
}

.profile-bio {
  padding: 10px;
}

.profile-stats {
  width: 100%;
  max-width: 600px;
  text-align: center;
  border-collapse: collapse;

  .stat {
    font-size: 60px;
    width: calc(100%/2);
  }

  .divider {
    width: 0.5px;
    background-color: black;
  }
}
.bio-input-container {
  margin-bottom: 40px;
}

.bio-input {
  font-size: 1.2em;
  font-weight: bold;
  width: calc(100vw - 40px);
  max-width: 580px;
  padding: 2px 9px;
  height: 1.2em;
  margin: 1em 10px 5px 10px;
}

.edit-message {
  font-size: 0.75em;
  font-style: italic;
  font-weight: normal;
}

.clear {clear: both;}

.user-bubble {
  position:relative;
  padding:10px 20px;
  color:white;
  background:#0B93F6;
  border-radius:10px 10px 0px 10px;
  float: right;
  margin: 10px;

  &:before {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-2px;
    right:-10px;
    height:20px;
    width:20px;
    background:#0B93F6;
  }

  &:after {
    content:"";
    position:absolute;
    z-index:1;
    bottom:-2px;
    right:-56px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-left-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
           transform:translate(-30px, -2px);
  }
}

.chat-bubble {
  position:relative;
  padding:10px 20px;
  background:#E5E5EA;
  border-radius:10px 10px 10px 0px;
  color: black;
  float: left;

  &:before {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-2px;
    left:-7px;
    height:20px;
    border-left:20px solid #E5E5EA;
    -webkit-transform:translate(0, -2px);
  }

  &:after {
    content:"";
    position:absolute;
    z-index:3;
    bottom:-2px;
    left:4px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-right-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}

.chat {
  max-width: 450px;
  margin: 50px auto;

  div {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 20px;
    line-height: 24px;
  }
}

.search-result{
  padding: 10px;
  -webkit-transition: all 0.25s;
    transition: all 0.25s;

  &:hover {
    -webkit-transform: scale(1.05);
      transform: scale(1.05);
  }
}

.result-time {
  float: right;
}

.result-icon {
  padding-right: 4%;
}

.feed-saved-spot-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-dark;
  color: white;
  margin-top: 0;
}

.feed-followed-user-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-dark;
  color: white;
  margin-top: 0;
}

.feed-saved-spot-container, .feed-followed-user-spot-container, .search-results-container {
  margin: 0 20px 0 50px;

  .category-icon-container {
    font-size: 1em;
  }
  .spot-name-container {
    left: -2em;
  }
  .spot-name {
    font-size: 2em;
    margin-bottom: 5px;

    a {
      color: $secondary-color;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.feed-saved-spot {
  margin: 10px 0;

  &:last-child {
    margin-bottom: 25px;
  }
}

.feed-followed-user-spot {
  margin: 10px 0;
}


.feed-spot-creator {
  font-style: italic;

  a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

a.spot-view-creatorid, .map-view-userid, .search-view-creator {
  color: black;
  text-decoration: none;
}

a.spot-view-creatorid:hover, .map-view-userid:hover, .search-view-creator:hover {
  text-decoration: underline;
}

select {
  font-family: 'FontAwesome', Arial;
}


.map-view-userid, .search-view-creator {
  color: dodgerblue;
}

.pac-container:after {
  display: none !important;
}

.duration-input {
  width: 138px;
  display: inline-block;
}

input#start {
  width: 300px;
}

.spot-name-link:hover {
  cursor: pointer;
}