* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}
.banner {
  background-color: rgb(144, 213, 181);
}
.app-name {
  font-size: 700%;
}

em {
  font-style: italic;
  font-size: 0.98em;
}

strong {
  font-style: bold;
}

h1 {
  font-size: 12em;
}

h3 {
  padding-top: 20px;
}

h3.description {
  margin-bottom: 40px;
  color: #333333;
}

h3.tagline {

  color: white;
  text-shadow: 2px 2px #333333;
  margin-top: 120px;
  margin-bottom: 20px;
}

.directions {
  font-size: 1.3em;
}

.logo {
  height: 10em;
  width: 10em;
  fill: #153727;
}

.parallax-container {
  height: 400px;
  margin: 20px 0px 40px 0px;
}

.tint {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.0)
    );
}

.btn-large {
  background-color: #64C498;
}
.btn-large:hover {
  background-color: #56A681;
}

.team-member-photo {
  display: flex;
  justify-content: center;
}

.team-member-name, .team-member-role {
  text-align: center;
  font-size: 1.3em;
}

.team-member-name {
  font-weight: 900;
  margin-top: 15px;
}

.team-member-role {
  margin-bottom: 25px;
  height: 2em;
}

.team-member-photo img{
  width: 80%;
  height: 80%;
  border-radius: 100%;
}

.tech {
}

.tech-name {
  text-align: center;
  font-size: 1.3em;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 25px;
  height: 2em;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.page-footer {
  background-color: rgb(144, 213, 181) !important;
  color: white;
}
.slider {
  width: 375px;
  height: 667px;
}
.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.privacy-container {
  padding: 20px 0px 20px 0px;
}

.privacy-container li {
  margin-left: 5px;
  list-style-type: circle;
}
